@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
    margin:0;
    padding: 0;
}
.mainDiv{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.7)),url(../../assets/background.jpg) ;
    background-size: cover;
    height:110vh;
}

.mainDiv h1{
    font-family: 'Permanent Marker', cursive;
}